.AnimalWorklist-Header{
    position: relative;
    margin-left: 20px;
}

.AnimalWorklist-Footer{
    width: 1173px;
    margin-top: 5px;
    display: inline-block;
}

.button_style{
    margin-right: 30px;
    height: 30px;
    width:  50px;
}

.animalworklist_table{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.complete_worklist{
    float: right;
    height: 35px;
}

