.NecropsyTaskFulfillment-Header{
    position: relative;
    margin-left: 20px;
}

.NecropsyTaskFulfillment-Footer{
    width: 1178px;
    margin-top: 5px;
    display: inline-block;
}

.button_style{
    margin-right: 30px;
    height: 30px;
    width:  50px;
}

.necropsytask_table{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.nogrosslesions_button{
    float: right;
    height: 35px;
}

.submit_button{
    float: right;
    height: 35px;
}

